@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body
{
    background: #d3d3d3 !important;
}
/*OVERALL PADDING / MARGIN*/
.row
{
    margin-right: 0px;
}
.content-wrapper
{
    padding: 0 0px 0 40px;
}
.updates
{
    margin-left: 50px;
}
.posts
{
    margin: 0 0 0 40px;
}
.container-fluid{
  border-radius: 0;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/* Demo 2 */
#search-bar
{
    outline: none;
}
#search-bar input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
  outline: none;
}
#search-bar input[type=search]:hover {
	background-color: #fff;
}
#search-bar input[type=search]:focus {
	width: 230px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search-bar input:-moz-placeholder {
	color: transparent;
}
#search-bar input::-webkit-input-placeholder {
	color: transparent;
}
/*MAIN CONTENT*/
/*UPDATES SECTION LEFT*/
.updates
{
    max-width: 300px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.updates .updates-wrapper
{
    padding: 10px 0 10px 0;
}
.update-content
{
    /*text-overflow: ellipsis;
    overflow: hidden;*/
    padding-top: 10px;
    /*width: 260px;*/
    /*height: 2em;
    white-space: nowrap;*/
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}
.update-content .more-text
{
    display: none;
}
.updates-section .read-more
{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
}
.updates-section .update-date
{
    padding-top: 10px;
}
.updates-section
{
    max-width: 300px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}
.updates-header
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
.updates-post-header
{
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    font-size: 16px;
}
.updates-post-header:hover
{
    color: #5e0a18;
}
.updates-section a
{
    text-decoration: none;
    color: #000;
}
.updates-post-img
{
   display: block;
   width: 100%;
   background-size: cover;
}
.update-image
{
    /*background-image: url("../img/thumb/chopperfeed_thumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;*/
    height: 130px;
    max-width: 230px;
    text-align: center;
}
.update-content
{
    font-family: 'Open Sans', sans-serif;
}
/*POSTS SECTION CENTER*/
.post-button
{
   float: right;
}
.post-form
{
   background-color: #fff;
   height: 100px;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
   padding-bottom: 140px;
}
.post-form .form-group
{
    padding: 10px 10px 10px 10px;
}
.post-form .form-group .post-textarea
{
  padding-bottom: 20px;
}
.post-form input[type='text']
{
    margin-bottom: 10px;
}
.post-image, .post-video
{
    padding-right: 5px;
    padding-left: 5px;
    color: #000;
}
/*POSTS CENTER*/
.post-all{
  width: 100%;
}
.post-all hr
{
    margin: 5px 0 10px 0;
    border: 1px solid #3a474b;
}
.post-single
{
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
}
.post-pic-wrap
{
    text-align: center;
}
.post-pic
{
    padding: 1px;
    margin: 10px 0 20px 0;
    border: 1px solid #d3d3d3;
}
.post-text
{
    margin: 0 15px 10px 15px;
    text-align: justify;
}
.post-date
{
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 5px;
}
.post-textarea textarea
{
    resize: none;
}
.post-header a
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #00b289;
}
.post-control:hover
{
    color: #d3d3d3;
}
/*SUGGESTED INTERESTS*/
.right-container
{
    max-width: 360px;
    padding-left: 0;
    margin-left: 40px;
}
.int-image
{
    height: 130px;
    max-width: 230px;
    text-align: center;
}
.interests-wrapper
{
    background-color: #fafafa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding: 10px 0 0px 10px;
    margin-right: 5px;
    display: block;
    overflow: auto;
}
.interest-section
{
    margin: 0 10px 40px 0;
    padding: 5px 0 40px 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.interest-section:hover
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
}
.interest-section .suggested-interest a
{
    text-decoration: none;
}
.interest-header h3
{
    margin-top: 10px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    font-size: 20px
}
/*CHAT BOX*/
.chat-box
{
    position: fixed;
    bottom: 0;
    margin-left: 80%;
    max-width: 200px;
}
.chat-box .chat-open
{
    background-color: #007300;
    color: #fff;
    float: right;
    width: 200px;
    font-family: 'Kanit',sans-serif;
    font-size: 18px;
    transition: ease 0.2s;
    border: none;
    border-radius: none;
}
.chat-box .chat-open:hover
{
    background-color: #305e4d;
    color: #cfebe0;
}
